flows_live.json

[
    {
        "id": "55f92bcca625d685",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": [
        ]
    },
    {
        "id": "7c7707d3a8c69005",
        "type": "inject",
        "z": "55f92bcca625d685",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "1447b2e18a2866d2"
            ]
        ]
    },
    {
        "id": "a751ea5b4559135c",
        "type": "debug",
        "z": "55f92bcca625d685",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": [
        ]
    },
    {
        "id": "1447b2e18a2866d2",
        "type": "function",
        "z": "55f92bcca625d685",
        "name": "function 1",
        "func": "// branch: 1st change\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "a751ea5b4559135c"
            ]
        ]
    }
]